.comment-index-item{
    background-color: #f0eeee;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}

.comment-form-container{
    margin-top: 25px;
    background-color: #F8F8F8;
    display:flex;
    align-items: center;
    margin-left:200px;
}

.comment-submit-btn{
    width:50%;
    margin-left:90px;
    margin-top:5px;
    border-radius: 20px;

}
// .comment-textarea{
//     background-color: green;
// }



// .comment-username{
// background-color: yellow;
// }



// .post-comment{
//     background-color: yellow;;
// }