.title-navbar{
    font: white;
    width: 15%;
}
.NavBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color:#f1f1f1;
    position: relative;
    height: 40px;
}

.nav-filler{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.login-nav-btn{
    text-decoration: none;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 20px;
    background-color: #1cc29f;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding-top: 6px;
    padding-bottom: 6px;
    -webkit-box-shadow: inset 0 0 9px #086952;
    &:hover{
        background-color: #3dd3b2;
    }
}


.title-nav{
    padding-left: 10px;
    color: #1cc29f;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    &:hover{
        color: #3dd3b2;

    }
}

.session-btn-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-profile-btn{
    font-family: 'Montserrat', sans-serif;
    color: #1cc29f;
    font-weight: bold;
    text-decoration: none;  
    margin-right:5px; 
    &:hover{
        color: #3dd3b2;
    }
}
