.post-label{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: bold;
}
.form-window{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.form-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1CC29F;
    background-color: #1CC29F;
    width: 500px;
    padding: 25px;
    border-radius: 15px;
    /* border: solid 1px #099c7c; */
    -webkit-box-shadow: 0 8px 2px 2px #059576;
    -moz-box-shadow: 0 8px 2px 2px #059576;
         box-shadow: 0 2px 2px 3px #059576;
}
.form-form{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #1CC29F;
    width: 100%;
    .signup-form-errors{
        margin: 0;
        ul li{
            font-size: 18px;
        }
    }
}
form.form-form label{
    width: 100%;
    box-sizing: border-box;
    margin: 10px;
}
.post-input, .subject{
    height:30px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 13px;
    margin-top:3px;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: rgba(255, 255, 255, 0.65);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: lighter;
    border: solid 2px #04a381;
}
.post-textbox{
    height:100px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 13px;
    margin-top:3px;
    border-radius: 20px;
    padding: 15px;
    box-shadow: rgba(255, 255, 255, 0.65);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: lighter;
    border: solid 2px #04a381;

}
.post-textbox:focus, .post-input:focus, .subject:focus{
    outline:none;
}
.form-type{
    font-family: 'Montserrat', sans-serif; 
    font-size: 30px;
    font-weight: bold;
    color: whitesmoke;
}

.post-submit-btn{

    background-color: #12a384;
    cursor:pointer;
    padding: 15px;
    width:300px;
    border-radius: 30px;
    border:none;
    margin-top: 15px; 
    text-align: center;
    width: 90%;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: bold;
}

.post-submit-btn:hover{

    background-color: #04a381;
    cursor:pointer;
    padding: 15px;
    width:300px;
    border-radius: 30px;
    border:none;
    margin-top: 15px; 
    text-align: center;
    width: 90%;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: bold;
    cursor:pointer;
    transform: scale(1.02);

}



