$theme-green: #1cc29f;
$theme-green-hover: #3dd3b2;

@media (max-width: 1200px){
     .title-nav{
         font-size: 30px;
         &:hover{
             font-size: 30px;
         }
     }   
}

@media (max-width: 700px){
    .title-nav{
        font-size: 20px;
        &:hover{
            font-size: 20px;
        }
    }   
}

.search{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 70%;
    max-width: 1200px;
    border-radius: 14px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.search-categories-container{
    box-sizing: border-box;
    min-width: 40px;
    background-color: $theme-green;
    border: 1px solid $theme-green;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    display: flex;
    align-content: center;
    border-right: 1px solid $theme-green;
    cursor: pointer;
    &:hover{
        background-color: $theme-green-hover
    }
}

.search-categories-container select{
    outline: none;
    border: none;
    font-weight: 700;
    background-color: $theme-green;
    border-radius: 14px;
    width: auto;
    cursor: pointer;
    padding: 0 0 0 5px;
    &:hover{
        background-color: $theme-green-hover
    }
}

.search-categories-container option{
    border: 1px solid $theme-green;
    font-weight: 700;
    width: auto;
    &:hover{
        background-color: $theme-green-hover;
    }
}

.search input:first-of-type{
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    border: none;
    padding: 8px 10px;
    outline: none;
    &:focus{
        border: none;
        outline: none;
    }
}

.hidden{
    display: none;
}

.search-icon-container{
    background-color: $theme-green;
    width: 40px;
    border: 1px solid $theme-green;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    i{
        margin-left: -3px;
    }
    &:hover{
        background-color: $theme-green-hover;  
        border-color: $theme-green-hover;  
    }
}

.select2-dropdown.select2-dropdown--below{
    background-color: $theme-green;
    &:hover{
        background-color: $theme-green-hover;
    }
}

body > span > span > span.select2-results{
    border: none;
}

.select2-dropdown{
    border: 1px solid lightgray;
}

#select2-category-select-results li{
    background-color: $theme-green;
    font-weight: 600;
    border-top: 1px solid $theme-green-hover;
    &:hover{
        background-color: $theme-green-hover;
    }
}

body > span > span > span.select2-search.select2-search--dropdown{
    display: none;
}

#select2-category-select-container{
    color: white;

}



.select2-container--default .select2-selection--single{
    border: 1px solid $theme-green;
    border-radius: 14px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 1.2em;  
    position: relative;
    background-color: $theme-green;
    color: white;
    &:hover{
        background-color: $theme-green-hover;
        border-color: $theme-green-hover;
        .select2-selection__arrow{
            background-color: $theme-green-hover;
        }
    }
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    background-color: $theme-green;
    color: $theme-green;
    font-size: 1.3em;
    position: absolute;
    top: 0px;
    right: 0px;
    &:hover{
        background-color: $theme-green-hover;
    }
}