.body-container{
    /* display: flex;
    flex-flow: row ;
    justify-content: space-between;
    height: 100%;
    overflow: auto; */
    
  
}

.post-body-container{
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    margin-left: 10%;
    margin-right: 10%;
    height:33.3%;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;

}

.post-headline{
  width: 950px;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-image: url('/images/index_2.jpeg');
  

    
}

.left-1 p{
  margin-top: 10px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400px;
  /* color: rgb(55,59,63) ; */
  color: white;
  line-height: 50px;
  max-width: 390px;
}
.left-1 span{
   color: #1cc29f;
}

.post-headline-1{
  font-size: 20px;
  font-family: 'Montserrat';
}

.post-index{
  font-size: 20px
}

.post-date{
    display: block;
    text-align: center;
    width: 50px;
    color: #a8a7a7;
}

.post-month {
    font-size: 10px;
}

.post-day {
    font-size: 20px;
}

.post-index-item {
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    justify-content: space-between;
    padding: 10px 0 10px 0;
    font-family: Lato;
    font-size: 16px;
    color: #333333;
    min-height: 32px;
    align-items: center;
}

.post-left > p, .post-right > p {
    margin-left: 30px;
}

.post-left {
    display: flex;
    align-items: center;
}

.post-left > p {
    font-weight: 700;
    font-size: 20px;
    font-family: Lato;
    color: black
}



.post-right {
    display: flex;
    justify-content: center;
}

.post-right > div > p {
    justify-content: center;
    margin-right: 30px;
    width: 150px;
}

.post-index-item:hover {
    background-color: rgb(235, 235, 235);
}

.post-index-item:hover > span > .details > button {
    color: white;
    cursor: pointer;
    background-color: #ff652f;
}

.post-index-item:hover > span > .details {
    border-color: #c75b34;
    background-color: #ff652f;
}
