.body-container{
    display: flex;
    flex-direction: column;
    overflow: auto;
  background-color: #F8F8F8;
  min-height: 100vh;

}

.post-body-container{
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    margin-top: 15px;
    margin-left: 10%;
    margin-right: 10%;
    height:33.3%;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;



}

.post-headline{
  margin-top: 10px;
  padding: 5px 15px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2); 
  /* background-position: bottom 10px; */
  width: auto;
  height: auto;
  background-color:#a8a7a7;
  background-image: url('../images/pencils.jpg');
  border: 1px solid #ddd;
  font-family: Lato;
  font-size: 40px;
  background-size: cover;
  color: #002837;
  border-radius: 5px;

}

/* img {
  transform: scaleX(-1);
} */


.post-headline-1{
  margin-top: 20px;
  font-size: 16px;
  font-family: Lato;

 
}

.posts-index{
  margin-top: 10px;
  padding-bottom: 100px;
  background-color: none;
  display:flex;
  flex-direction:column-reverse;
}

.post-index{
  font-size: 20px;
}

.post-date{
    display: block;
    text-align: center;
    width: 50px;
    color: #a8a7a7;
}

.post-month {
    font-size: 10px;
}

.post-day {
    font-size: 20px;
}

.post-index-item {
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    border: 1px solid #e0e0e0;
    justify-content: flex-start;
    padding: 10px 0 10px 0;
    font-family: Lato;
    font-size: 16px;
    color: #333333;
    min-height: 32px;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    outline: none;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
         box-shadow: 0 8px 6px -6px black;
    margin-bottom: 10px;
}

.post-left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.post-left > p {
    margin-left: 30px;
}

.post-right {
    display: flex;
    flex-direction: column;
}


.post-right {
    display: flex;
    justify-content: center;

}

/* .post-right > a {
  font-family: sans-serif;
  text-decoration: none;
  
} */
.post-right-1{
  font-family: sans-serif;
  text-decoration: none;
  font-size: 16px;
  color: black;
  cursor: pointer;
}

.post-right-2{
  font-family: sans-serif;
  text-decoration: none;
  margin-top: 5px;
  padding-top: 3px;
  font-size: 14px;
  color:#a8a7a7
}


.post-index-item:hover {
    background-color: rgb(235, 235, 235);
}


.post-show-complete-container{
  display: flex;
    flex-direction: column;
    overflow: auto;
  background-color: #F8F8F8;
  min-height: 95vh;
}

.post-show-container{
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    margin-top: 15px;
    margin-left: 150px;
    margin-right: 150px;
    height:33.3%;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 100px;
}

.post-show{
    border-bottom: 1px solid #e0e0e0;
    border: 1px solid #e0e0e0;
    justify-content: flex-start;
    padding: 10px 0 10px 0;
    font-family: Lato;
    font-size: 16px;
    color: #333333;
    min-height: 32px;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(248, 248, 248);
    position: relative;
    outline: none;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
         box-shadow: 0 8px 6px -6px black;
    margin-bottom: 10px;
}

.post-show-1{
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.post-show-1 > a{
  text-decoration: none;
  margin-left: 30px;
  font-size: larger;
  color: teal;
}

.post-show-2{
  margin-left: 30px;
  font-family: sans-serif;
  text-decoration: none;
  margin-top: 5px;
  padding-top: 3px;
  font-size: 16px;
  color:rgb(85, 85, 85);
}

.post-show-3{
  display: flex;
  justify-content: flex-start;
  margin-left: 30px;
  font-family: sans-serif;
  text-decoration: none;
  margin-top: 5px;
  padding-top: 3px;
  font-size: 14px;
  color:#a8a7a7
}

.post-show-3 p{
  margin-right: 15px;
  
}
.post-show-user{
  cursor: pointer;
}

.post-comment{
  margin-top: 30px;
  border-bottom: 1px solid #e0e0e0;
  border: 1px solid #e0e0e0;
  justify-content: flex-start;
  padding: 10px 0 10px 0;
  font-family: Lato;
  font-size: 16px;
  color: #333333;
  min-height: 32px;
  align-items: left;
}

.post-comment p{
  margin-left: 30px;
}

#not-show{
  display: none
}

.post-show-delete{
  margin-right: 30px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  
}

.post-show-edit{
  text-decoration: none;
  cursor:pointer;
  font-size: 14px;
}

.create-post-index{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.post-show-edit, .post-show-delete{
  border: none;
  text-decoration: none;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 20px;
  background-color: #1cc29f;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: bold;
  cursor: pointer;
  -webkit-box-shadow: inset 0 0 9px #086952;
}
.post-show-edit:hover, .post-show-delete:hover{
  text-decoration: none;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 20px;
  background-color: #3dd3b2;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: bold;
  border:none;
}

.post-show-edit-delete{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.no-post{
  font-family: 'Montserrat', sans-serif;
  color: lightgray;
  font-weight: bold;
  border: none;
  margin-top: 20px

}

.post-show-title-edit-delete{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.profile-index-item{
  position: relative;
  display: flex;
    border-bottom: 1px solid #e0e0e0;
    border: 1px solid #e0e0e0;
    justify-content: flex-start;
    padding: 10px 0 10px 0;
    font-family: Lato;
    font-size: 16px;
    color: #333333;
    min-height: 32px;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    outline: none;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
         box-shadow: 0 8px 6px -6px black;
    margin-bottom: 10px;
}

.profile-edit-delete-btn{
  position:absolute;
  display: flex;
  flex-direction: row;
  right:5px;
  top: 7px;


}